:root {
    --silver: rgb(192, 196, 197);
    --spruce: rgb(66, 84, 87);
    --cardinal: rgb(211, 36, 37);
    --chico: rgb(159, 100, 91);
    --white: rgb(255, 255, 255);
}



/* header */

#logo {
    height: 450px;
    width: 100%;
    background: url('/images/header.jpg') no-repeat center 60%;
    position: relative;
    background-size: cover;
}

/* new navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--spruce);
    position: sticky;
    top: 0;
    z-index: 9999;
}

li {
    float: left;
}

a {
    font: 16px 'Roboto', sans-serif;
    display: block;
    color: var(--white);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--chico);
    color: var(--white);
}

.active {
    background-color: var(--cardinal);
    color: var(--white);
}

/* 1st section */

h1,
h2,
h3 {
    color: var(--cardinal);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 2% 0 0 2%;
}

h3 {
    color: var(--chico);
}

p {
    color: var(--spruce);
    font: 16px 'Open Sans', sans-serif;
    text-align: center;
    padding: 0 10px;
}

.source {
    font-size: xx-small !important;
    text-align: right;
    line-height: 1em !important;

}

iframe {
    width: 560px;
    height: 315px;
    margin: 2% 30%;
}

/* delete
#what,
.column-1 {
    height: auto;
}

.column-2 {
    height: 600px;
    float: right;
    width: 66%;
    padding: 1%;
}
*/

* {
    box-sizing: border-box;
}

/* delete
.column-1 {
    float: left;
    width: 33%;
    padding: 10% 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    vertical-align: middle;
}
*/
/* delete 
.row:after {
    content: "";
    display: table;
    clear: both;
}
*/


*/
/* footer */

footer {
    background-color: var(--spruce);
    padding: 10px;
}

.footer {

    color: var(--white);
    text-align: center;
    font-size: small !important;
    line-height: 2.6px !important;
}

/* importance*/

.importance,
#trust-vaccine {
    height: auto;
    padding: 0 10%;
    clear: both;
}


.container {
    clear: both;
    overflow: hidden;
}

#left-about {
    width: 50%;
    float: left;
    padding-left: 20%;
}

.right-earth-text {
    padding-top: 6% !important;
}

#right-about {
    width: 50%;
    float: right;
    padding-top: 3%;
    padding-right: 15%;
}

.image {
    border-radius: 50%;
}

#earth-image {
    background: url('/images/earth_covid_syringe2.jpg') no-repeat center;
    height: 250px;
    background-size: contain;

}

#germs-image {
    background: url('/images/стоп\ коронавирус\ \ 2.jpg') no-repeat center;
    background-size: auto;
    height: 200px;
    background-size: contain;
}

#vaccine-production-squeme {
    width: 90%;
    margin: 0 5%;
}

/* types */

.buttons-section {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: block;
    color: var(--white);
    background-color: var(--chico);
    border: 2px solid var(--white);
    border-radius: .5em;
    width: 150px;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    text-align: center;
}



a:hover {
    color: var(--cardinal);
}

.btn:hover {
    color: var(--white);
    background-color: var(--cardinal);
}


#rna-vaccine,
#viral-vector-vaccine,
#inactivated-virus-vaccine {
    background-color: rgba(192, 196, 197, 0.3);
    padding: 0.5% 2%;
    margin: 1% 0;
    border-radius: 20px;
}

#vaccines-explanation,
#efficacy {
    padding: 0.5% 2%;
}

#rna-vaccine>p {
    font: italic;
    text-align: justify;
}

.col-md-6 {
    width: 500px;
    border-radius: 10%;
    margin: 0.5%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;

}

/* efficacy */

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
}

.img-size {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #DD5632;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: var(--white);
}

.text {
    color: var(--spruce);
    background-color: rgb(192, 196, 197, 0.4);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 25px;

}

.numbertext {
    color: var(--white);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: var(--spruce);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: var(--chico);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#comparation {
    width: 100%;
    padding: 0 10px;
}

#chart {
    width: 100%;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* Responsive layout */

@media only screen and (max-width: 1024px) {

    #logo {
        height: 300px;
    }

    */ .slideshow-container {
        max-width: 500px;

    }

    iframe {
        width: 100%;
        margin: auto;
    }

    /* delete 
    .row {
        width: 90%;
        margin: 0 auto;
        padding: 1%;
    }

    .column-1,
    .column-2 {
        width: 100%;
        padding: 0 1%;
    }
*/

    #importance {
        width: 90%;
        margin: 0 auto;
    }

    /* delete
    #left-about- {
        padding-left: 0%;

    }


    #right-about {
        padding-right: 0;
    }
*/
    .btn-responsive {
        font-size: 3vw;
    }

    /* delete
    .responsive-squeme {
        float: none !important;
        width: 95%;
    }
*/

    .responsive-squeme {
        width: 70%;

    }
}

@media only screen and (max-width: 600px) {

    li {
        float: none;
        display: inline-block;
        padding-left: 5%;
    }

    #logo {
        background: url('/images/header.jpg') no-repeat center center;
        height: 200px;
        position: relative;
        background-size: cover;
    }

    #left-about,
    #left-about,
    .right-earth-text,
    #right-about {
        width: 100%;
        padding: 0;
    }



    /* delete s
    .column-1,
    .column-2 {
        width: 100%;

    }

    #row {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }
*/
    iframe {
        width: 100%;
        height: auto;
        margin: 2%;
    }

    #vaccines-explanation,
#efficacy {
    padding: 0;
}
    #importance {
        width: 90%;
        margin: 0 auto;
    }

    /* delete
    .right-about-1,
    .left-about-1 {
        width: 100%;
        text-align: center;
    }
*/
    .buttons-section {
        display: block !important;
        height: auto;
    }

    .btn {
        font-size: 4vw;
        width: 90%;

    }

    .text {
        font-size: 3vw;
    }

    .responsive-squeme {
        width: 100%;
    }
}

#vaccine-production-squeme {
    width: 100%;
    margin: 0;
}