/* header */

#logo {
    background-image: url(/images/pexels-cottonbro-3952219.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 55%;
    height: 500px;
    position: relative;
}

#navbar {
    position: relative;
    top: 449px;
}

#navbar a {
    float: left;
    display: block;
    background-color: #ede9d0;
    color: #3a001e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

#navbar a:hover {
    background-color: #dd9b87;
    color: #3a001e;
    ;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}