body {
    background-color: #ede9d0;
}

/* header */

#logo {
    height: 600px;
    width: 100%;
    background: url(/images/pexels-cottonbro-39522192\(bigscreen\).jpg) no-repeat center center;
    position: relative;
    background-size: cover;
}


#navbar {
    position: relative;
    padding-top: 500px;
}

#navbar a {
    float: left;
    display: block;
    background-color: #ede9d0;
    color: #3a001e;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

#navbar a:hover {
    background-color: #dd9b87;
    color: #3a001e;
    ;
}

#navbar a.active {
    background-color: #3a001e;
    color: #dd9b87;
}


/* 1st section */

h1,
h2,
h3 {
    color: #DD5632;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 2% 0 ;
}

h3 {
    color: #3a001e;
}

p, a {
    color: #3a001e;
    font: 16px 'Open Sans', sans-serif !important;
    text-align: center;
    padding: 0 10px;
}

.source {
    font-size: xx-small;
    text-align: right;
    line-height: 0.6rem;

}

#what,
.column-1 {
    height: auto;
}

.column-2 {
    height: 600px;
    float: right;
    width: 66%;
    padding: 1%;
}

* {
    box-sizing: border-box;
}

.column-1 {
    float: left;
    width: 33%;
    padding: 10% 1%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    vertical-align: middle;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#video {
    width: 100%;
    height: 100%;
    margin: auto;
}


/* footer */

.footer {

    background-color: #DD5632;
    color: #ede9d0;
    text-align: center;
    font-size: small;
    padding: 10px;
    line-height: 0.3em;
}

.footer>p {
    font-size: small;
    line-height: inherit;
}

/* importance*/

#importance,
#trust-vaccine {
    height: auto;
    padding: 0 10%;
    clear: both;
}


.importance-container {
    clear: both;
    padding: 10px;
}

#left-about {
    width: 50%;
    float: left;
    padding-left: 30%;
}

#right-about {
    width: 50%;
    float: right;
    padding-top: 3%;
    padding-right: 20%;
}

.image {
    border: 6px double #3a001e;
}

#earth-image {
    background: url('/images/earth_covid_syringe2.jpg') no-repeat center;
    background-size: auto;
    height: 200px;
    background-size: cover;
}

#germs-image {
    background: url('/images/стоп\ коронавирус\ \ 2.jpg') no-repeat center;
    background-size: auto;
    height: 200px;
    background-size: cover;
}

#vaccine-production-squeme {
    width: 90%;
    margin: 0 5%;
}

/* types */

.buttons-section {
    height: 150px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: block;
    font-size: 1.5vw;
    color: #ede9d0;
    background-color: #3a001e;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: .25rem;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    text-align: center;
}



a:hover {
    color: #DD5632;
}

.btn:hover {
    color: #3a001e;
    background-color: #DD5632;
}

#vaccines-explanation {
    padding: 1% 10%;
}

#rna-vaccine,
#viral-vector-vaccine,
#inactivated-virus-vaccine {
    background-color: rgba(58, 0, 30, 0.1);
    padding: 0.5% 2%;
    margin: 1% 10px;

}

#rna-vaccine>p {
    font: italic;
    text-align: justify;
}

.col-md-6 {
    flex: 0 0 auto;
    width: 40%;
    border: 6px double #3a001e;
}

.float-left {
    float: left;
    margin-right: 1%;
}

.float-right {
    float: right;
    margin-right: 1%;
}

/* efficacy */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
}

.img-size {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #DD5632;
    font: 32px bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(221, 155, 135, 0.8);
}

.text {
    color: #3a001e;
    background-color: rgba(221, 155, 135, 0.4);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #3a001e;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #DD5632;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #dd9b87;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#comparation {
    width: 100%;
    padding: 0 10%;
}

#chart {
    width: 100%;
}

.title{
    background-color:  rgba(58, 0, 30, 0.1);
    
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* Responsive layout */

@media only screen and (max-width: 1024px) {
    #logo {
        background: url('../images/pexels-cottonbro-3952224\(smallscreen\).jpg') no-repeat center center;
        position: relative;
        background-size: cover;
    }

    .row {
        width: 90%;
        margin: 0 auto;
        padding: 1%;
    }

    .column-1,
    .column-2 {
        width: 100%;
        padding:0 1%;
    }

    #importance {
        width: 90%;
        margin: 0 auto;
    }

    #left-about {
        padding-left: 0%;

    }


    #right-about {
        padding-right: 0;
    }

    .btn-responsive {
        font-size: 3vw;
    }

    .responsive-squeme {
        float: none !important;
        width: 95%;
    }

}

@media only screen and (max-width: 600px) {
    #logo {
        background: url('../images/pexels-cottonbro-3952224\(smallscreen\).jpg') no-repeat center center;
        position: relative;
        background-size: cover;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    .column-1,
    .column-2 {
        width: 100%;

    }

    #row {
        width: 90%;
        height: auto;
        margin: 0 auto;
    }

    #importance {
        width: 90%;
        margin: 0 auto;
    }

    .right-about-1,
    .left-about-1 {
        width: 100%;
        text-align: center;
    }

    .buttons-section-responsive {
        display: block !important;
        height: auto;
    }

    .btn-responsive {
        font-size: 4vw;
    }

    .text {
        font-size: 3vw;
    }

    .responsive-squeme {
        width: 100%;
        height: 60%;
    }

    #vaccine-production-squeme {
        width: 100%;
        margin: 0;
    }
}